._*
*.log
node_modules/
jspm_packages/

web_modules/
*.env

*.stackdump

#week2
week2/.gitignore
week2/README.md

*/uploads/*
!./week2/uploads/.gitkeep
*/thumbnails/*

.vscode/
#ignore tls cert and private key
certrequest.csr
ssl-cert.pem
ssl-key.pem
